body {
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
}

.form-box {
    border: 1px solid gray;
    border-radius:7px;
    width: 270px;
    margin: auto;
    display:block;
}

.form-input {
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.submit-button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

h3 {
    
    text-align: center;
}

.modal {
    display:none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display:none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
   left: 0%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, 
.next:hover{
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.95;
}

.active,
.demo:hover {
    opacity:1;
}



.column {
    float: left;
    width: 25%;
}

row:after {
    content: "";
    display: table;
    clear: both;
}

.hover-shadow:hover {
    box-shadow: 0px 0px 4px .5px black;
}

img.hover-shadow {
    transition: 0.3s;
}

